<!DOCTYPE html>
<html>
<head>
  <title>Gmaptest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyBaJWYKcva_o5zveuWvGlKdhk1wvI-e4J8&sensor=FALSE" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
